<form id="form-parada" 
      action="{{ path('circular_site_admin_parada_cadastrar', {'id_parada': parada.id}) }}" 
      method="POST" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Cadastrar" />
    </p>
</form>
<script type="text/javascript">
    $('#form-parada').submit(function(){
        $(this).ajaxSubmit(function(data){
            console.log(data);
            $(".caixaForm").dialog('close');
            return false;
        });
        return false;
    });
</script>