{% extends "::base.html.twig" %}
{% block body %}
        {% block menu %}
        <div class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ path('vostre_site_central_cliente_home') }}" class="navbar-brand v-logo">
                        <img src="{{ asset('imagens/logo-preta-20.png') }}" /></a>
                    <h2 class="navbar-text text-center">
                        {% if usuario.roles.0 == 'ROLE_CLIENTE' %}
                        Central do Cliente
                        {% else %}
                        Central Administrativa {% block subtitulo %}{% endblock %}
                        {% endif %}
                        
                    </h2>
                </div>
                <div class="nav navbar-nav navbar-right">
                    {% if usuario is defined %}
                    <span class="navbar-text"><a href="{{ path('fos_user_security_logout') }}">Sair</a></span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}
        {% block conteudo %}
        {% endblock %}
        {% block rodape %}
        <footer>
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <p class="vostre-footer-texto">
                            <a href="tel:24992201141" class="v-link-rodape">
                                <span class="glyphicon glyphicon-phone-alt v-cor-vermelho"></span> (24) 9 9220 1141</a></p>
                    </div>
                    <div class="col-md-6 text-center">
                        <p class="vostre-footer-texto">
                            <a href="https://facebook.com/vostre" class="v-link-rodape" target="_blank">
                                <img src="{{ asset('imagens/facebook.png') }}" 
                                     alt="Facebook" 
                                     class="img-circle v-link-social" /> /vostre</a>
                            {#<img data-src="holder.js/30x30/auto/#D00:#D00/text:Third slide" alt="Facebook" 
                             class="img-circle v-link-social"> /vostre
                            <img data-src="holder.js/30x30/auto/#31B0D5:#31B0D5/text:Third slide" alt="Facebook" 
                             class="img-circle v-link-social"> /vostre#}
                        </p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <p class="vostre-footer-texto">&copy; Vostr&egrave; 2015-2016</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <p class="vostre-footer-texto small">Este site pode utilizar cookies para proporcionar 
                            uma melhor experi&ecirc;ncia a seus visitantes. Ao utiliz&aacute;-lo, 
                            voc&ecirc; concorda com o uso.</p>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}
{% endblock %}