{# empty Twig template #}
{% extends "VostreCentralBundle::layout.html.twig" %}       
{% block body %}
    <h4>
        {{ mensagem.titulo }}
    </h4>
    <p>{{ mensagem.descricao }}</p>
{% endblock %}
